.projekte {
  text-align: center;
}

.grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.grid div {
  position: relative;
  width: 100%;
  height: 36vh;
  overflow: hidden;
  align-self: center;
  cursor: zoom-in;
}

.grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.3);
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.grid label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vh;
  font-weight: bold;
  padding: 5px 10px;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
  mix-blend-mode: ;
}

.grid div:hover img {
  filter: brightness(1);
  transform: scale(1.3);
}

.grid div:hover label {
  opacity: 0;
}
